<header>
    <div class="container">
        <h1>Kebaktian Anak 2025</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/booking/hastina">Booking Gedung Hastina</a></li>
                <li><a href="/booking/yudistira">Booking Gedung Yudistira</a></li>
                <li><a href="/admin">Admin</a></li>
            </ul>
        </nav>
    </div>
</header>